SOLAR_MQTT_HOST_PORT=1884
SOLAR_INFLUXDB_HOST_PORT=18086
SOLAR_BACKEND_HOST_PORT=18000
SOLAR_FRONTEND_HOST_PORT=13000

INFLUXDB_INIT_USERNAME=solar_admin
INFLUXDB_INIT_PASSWORD=change-me-strong-password
INFLUXDB_INIT_ORG=sollar_panel
INFLUXDB_INIT_BUCKET=solar_metrics
INFLUXDB_INIT_ADMIN_TOKEN=replace-with-a-long-random-token

MQTT_TOPIC=sensor/solar/voltage
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=solar-ingestor

INFLUXDB_MEASUREMENT=solar_voltage
INFLUXDB_SENSOR_ID=pringles_1
ML_NIGHT_THRESHOLD=0.035
ML_DAY_THRESHOLD=0.24
ML_ANOMALY_STD_THRESHOLD=0.03
ML_ANOMALY_RANGE_THRESHOLD=0.08
ML_SUNRISE_DELTA_THRESHOLD=0.01
ML_SUNSET_DELTA_THRESHOLD=-0.01
